// Containers
$container-padding		: 20px;
$container-max-width	: 1000px;

// Fonts
$fonts					: "Circular", "Roboto", "Helvetica", sans-serif;
$f-size-xs              : 12px;
$f-size-sm              : 14px;
$f-size-md              : 16px;
$f-size-lg              : 18px;
$f-size-xl              : 22px;
$f-size-xxl             : 42px;