#join {
	@include containerSpacing;
}

.paragraph {
	line-height: 1.4;
	font-weight: 300;
	max-width: 700px;
	margin-bottom: 10px;
}

.paragraph a {
	font-weight: 500;
}

.back {
	margin-top: 40px;
	cursor: pointer;
}