.navbar {
	position: absolute;
	top: 0;
	right: 0;
	font-size: $f-size-sm;
}

.navbarContainer, .navbarItemContainer{
	@include clearAfter;
}

.navbarContainer {
	margin: 0 auto;
	padding: $container-padding;
	@include containerSpacing;
}

.navItem {
	float: left;
	padding: 10px 25px;
}

.navAction {
	border: 1px solid black;
}

.navbarHeader {
	float: left;
}

.navbarItemContainer {
	float: right;
}