#sponsors {
	@include containerSpacing;
	@include clearAfter;
	text-align: center;
	display: block;
}

#sponsors-section {
	@include altBackground;
}

.sponsorCard {
	width: 50%;
	float: left;
}

.sponsorImgContainer {
	width: 50%;
	margin: 0 auto;
}

.sponsorImg {
	margin-top: 15px;
}